<template>
  <div>
    <v-container>
      <v-row>
        <v-col cols="12" md="4" v-for="color in colors" :key="color.id">
            <v-card height="300" :color="color.color" @click="textCopy(color, color.id)">
              <v-card-text class="fill-height app-content__card-colors">
                <v-container class="fill-height">
                  <v-row class="fill-height">
                    <v-col cols="12">
                      <div >{{ color.year }}</div>
                    </v-col>
                    <v-col cols="12" class="align-self-center text-center">
                      <template v-if="color.copiado">
                        <h2>Copiado!!</h2>
                      </template>
                      <template v-else>
                        <div class="app-content__card-colors-name">{{ color.name }}</div>
                        <div class="app-content__card-colors-cod">{{ color.color }}</div>
                      </template>
                    </v-col>
                    <v-col cols="12" class="align-self-end">
                      <div class="text-right">{{ color.pantone_value }}</div>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
            </v-card>
        </v-col>
      </v-row>
    </v-container>
    <div class="text-center">
      <v-pagination
        v-model="page"
        :length="perPage"
        @input=paginador
      ></v-pagination>
    </div>
    <div class="text-center ma-2">
        <v-snackbar
          v-model="snackbar"
          :color="snackbarColor"
          class="font-weight-bold"
        >
          {{ snackbarMessage }}
          <v-btn
            text
            class="font-weight-bold"
            @click="snackbar = false"
          >
            Close
          </v-btn>
        </v-snackbar>
      </div>
</div>
</template>

<script>
  export default {
    name: 'App',

    data: () => ({
      colors: [],
      page: 1,
      perPage: null,
      copiado: false,
      snackbar: false,
      snackbarColor: '',
      snackbarMessage: '',
    }),
    methods: {
      getColors() {
        fetch(`https://reqres.in/api/colors?page=${this.page}`)
        .then( res => res.json() )
        .then(res => {
          this.colors = res.data
          this.page = res.page
          this.perPage = res.total_pages
          this.colors.forEach(element => {
            this.$set(element, 'copiado', this.copiado)
          })
        })
      },
      textCopy(text, key) {

        if(text.id === key && text.copiado === false ) {
          this.colors.forEach(element => {
            element.copiado = this.copiado
          })
          navigator.clipboard.writeText(text.color).then(() => {
            this.snackbarMessage = `Seleccionaste el color ${text.color}`
          }, err => {
            console.error('Async: Could not copy text: ', err);
          });
          text.copiado = true
          this.snackbarColor = text.color
          this.snackbar = true
        } else if(text.id === key && text.copiado === true ) {
          text.copiado = this.copiado
        }
      },
      paginador(page) {
        this.page = page
        this.getColors()
      }
    },
    mounted() {
      this.getColors();
    }
  }
</script>
