<template>
  <v-app >
    <v-app-bar
      app
      color="primary"
      dark
      flex
      justify="space-around"
    >

      <div class="d-flex align-center">
          <v-img
            alt="Vuetify Logo"
            class="shrink mr-2"
            contain
            src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
            transition="scale-transition"
            width="40"
          />

          <v-img
            alt="Vuetify Name"
            class="shrink mt-1 hidden-sm-and-down"
            contain
            min-width="100"
            src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
            width="100"
          />
      </div>
      <div>
        <h2>Colores</h2>
      </div>

      <v-switch
        v-model="$vuetify.theme.dark"
        hide-details
        color="white"
        label="Theme Dark"
      ></v-switch>
    </v-app-bar>

    <v-content> 
      <v-layout class="fill-height" align-center justify-center>
        <v-flex xs12 sm8 md8>
          <app-content class="app-content"/>
        </v-flex>
      </v-layout>
    </v-content>
  </v-app>
</template>

<script>
import AppContent from './components/AppContent';

export default {
  name: 'App',

  components: {
    AppContent,
  },

  data: () => ({
    //
  }),
};
</script>
