.app-content {
  &__card-colors {
    color: #ffffff
  }

  &__card-colors-name {
    font-size: 1.1rem;
  }

  &__card-colors-cod {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}