@import url('https://fonts.googleapis.com/css? family=Oxygen:300,400,700&display=swap');


$body-font-family: 'Oxygen';

.v-application {
   font-family: $body-font-family, sans-serif !important;
   font-size: 16px !important;
 }
